body{
    font-family:Arial;
    background-color: #345e37;
}
.content{
    background-color: #191919;
    width:300px;
    padding:40px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:white;

}
.content h1 {
    text-transform : Uppercase;
}